<h1>About</h1>
<p>網頁 : <a href="https://40823205.github.io/cd2021/content/index.html" rel="nofollow">https://40823205.github.io/cd2021/content/index.html</a></p>
<p>倉儲 : <a href="https://github.com/40823205/cd2021">https://github.com/40823205/cd2021</a></p>
<h1>Stage1</h1>
<p>bg11</p>
<p>小組網站 : <a href="https://40823239.github.io/stage1-bg11/content/index.html">https://40823239.github.io/stage1-bg11/content/index.html</a></p>
<p>小組倉儲 : <a href="https://github.com/40823239/stage1-bg11">https://github.com/40823239/stage1-bg11</a></p>
<h1>Stage2</h1>
<p>bg14</p>
<p>小組網站 : <a href="https://40823204.github.io/stage2-bg14/content/index.html">https://40823204.github.io/stage2-bg14/content/index.html</a></p>
<p>小組倉儲 : <a href="https://github.com/40823220/stage2-bg14">https://github.com/40823220/stage2-bg14</a></p>
<p></p>
<h1>Stage3</h1>
<p>bg5</p>
<p>小組網站 : <a href="https://40823221.github.io/stage3-bg5/content/index.html">https://40823221.github.io/stage3-bg5/content/index.html</a></p>
<p>小組倉儲 : <a href="https://github.com/40823221/stage3-bg5">https://github.com/40823221/stage3-bg5</a></p>
<p>討論區 : <a href="https://gitter.im/Stage3-bg/community">https://gitter.im/Stage3-bg/community</a></p>
<p></p>
<h1>HW</h1>
<h2>W1-bg11</h2>
<p></p>
<p>組員 : 40823205 李詩涵、40823237 黃冠程</p>
<p>題目 : 鋼板滑車<br/>動機 : 能夠更加省力的舉起重物</p>
<p>進度<br/>第二周 : 繪製零件圖<br/>第三周 : 修改並測試<br/>第四周 : 報告</p>
<p></p>
<h2>W2</h2>
<p>零件繪製檔 :</p>
<p><a href="/downloads/十字螺釘M3.STL">十字螺釘M3.STL</a> <a href="/downloads/六角螺帽M3.STL">六角螺帽M3.STL</a> <a href="/downloads/六角螺帽M5.STL">六角螺帽M5.STL</a> <a href="/downloads/六角螺帽M6有墊圈.STL">六角螺帽M6有墊圈.STL</a> <a href="/downloads/平頭有銷螺釘.STL">平頭有銷螺釘.STL</a> </p>
<p><a href="/downloads/扣環.STL">扣環.STL</a> <a href="/downloads/扭轉彈簧.STL">扭轉彈簧.STL</a> <a href="/downloads/扭轉彈簧2.STL">扭轉彈簧2.STL</a> <a href="/downloads/墊圈.STL">墊圈.STL</a> <a href="/downloads/固定器.STL">固定器.STL</a> <a href="/downloads/掛勾.STL">掛勾.STL</a> <a href="/downloads/軸承.STL">軸承.STL</a> <a href="/downloads/滑輪.STL">滑輪.STL</a> </p>
<p><a href="/downloads/綠色六角頭螺釘M6.STL">綠色六角頭螺釘M6.STL</a> <a href="/downloads/錐形蕭taper pin unhardened_iso.STL">錐形銷.STL</a> <a href="/downloads/環首.STL">環首.STL</a> <a href="/downloads/薄片2.STL">薄片2.STL</a> <a href="/downloads/薄片2-1.STL">薄片2-1.STL</a> <a href="/downloads/薄片2-2.STL">薄片2-2.STL</a> <a href="/downloads/薄片2-3.STL">薄片2-3.STL</a> </p>
<p><a href="/downloads/薄片1.STL">薄片1.STL</a> <a href="/downloads/薄片1-2.STL">薄片1-2.STL</a> <a href="/downloads/薄片1-3.STL">薄片1-3.STL</a> <a href="/downloads/薄片1-4.STL">薄片1-4.STL</a> <a href="/downloads/薄片1-5.STL">薄片1-5.STL</a> <a href="/downloads/薄片1-6.STL">薄片1-6.STL</a></p>
<p></p>
<p>參考影片 :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ewGh-psdmYA" width="560"></iframe></p>
<p></p>
<p></p>
<h2>W3</h2>
<p></p>
<p>組合圖檔 : <a href="/downloads/組合1.stl">組合.stl</a></p>
<p></p>
<p><span>鋼板滑車-零件組合圖</span></p>
<p><span><img alt="" height="398" src="/images/S__9568308.jpg" width="564"/></span></p>
<p><span>鋼板滑車-零件爆炸工作圖</span></p>
<p><span><img alt="" height="402" src="/images/S__9568307.jpg" width="563"/></span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/3VHacBh1FeA" width="560"></iframe></p>
<h2>W5-bg14</h2>
<p>小組討論主題 :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ZHwuVze7hMQ" title="YouTube video player" width="560"></iframe></p>
<h2>W6~7</h2>
<p><strong>四人小組運作模式:先分為兩小組各自設計一組方案，待各組接完成設計後，再決定要選哪個方案</strong></p>
<p>組員 : 40823228、40823242、40823204、40823220、40823205</p>
<p><strong>方案1 : 40823204、40823220設計</strong></p>
<p>主題 : 省力搬運機</p>
<p>動機 : 主要用於工地裝水泥的箱子的搬運，達到工作上安全、省時、省力的要求</p>
<p>優點 : 操作簡單，使用方便，成本低</p>
<p>缺點 : 雖然橘色大型塑膠箱使用很廣泛，但本裝置只適用於一種尺寸的箱子，而且箱子兩側必須有"耳朵"</p>
<p><strong>資料下載處 : </strong><a href="https://40823204.github.io/cd2021/downloads/%E6%90%AC%E9%81%8B%E6%A9%9F.zip">搬運機.zip</a></p>
<p><strong>組合圖 :</strong></p>
<p><strong><img alt="" height="194" src="/images/IuAOIZS12.png" width="397"/></strong></p>
<p><strong>搬運車機構圖(四連桿機構的運用) :</strong></p>
<p><strong><img alt="" height="210" src="/images/ApplicationFrameHost_5FtAP6tV2v.png" width="399"/></strong></p>
<p><strong><img alt="" height="188" src="/images/ApplicationFrameHost_ZEx4UBcWNN.png" width="399"/></strong></p>
<p><strong>搬運箱子(<span>參考一般常見塑膠桶)</span> :</strong></p>
<p><strong><img alt="" height="209" src="/images/VJHqzo41.png" width="394"/></strong></p>
<p><span>參考影片 :</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/lBvupDcRfts" title="YouTube video player" width="560"></iframe></p>
<h2>W8</h2>
<p><span>Coppeliasim模擬 :</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/eK0nhj23s-Y" title="YouTube video player" width="560"></iframe></p>
<p><span></span></p>
<p><span>Solidwork模擬 :</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xQkyIcfL3Gg" title="YouTube video player" width="560"></iframe></p>
<h2>W9</h2>
<p>心得 : 雖然有stage1的經驗，但因為養傷比較晚加入stage2的組別，所以有些困難難上手<span>，</span>還好組員們都很厲害，幫了我很多忙，希望我在stage3的8人分組能補足4人沒做足的地方。</p>
<p>小組上台報告影片 :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qzf5SZAmt-c" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h2>W10</h2>
<p>第一次小組討論</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/lhI5MP_Z8Lg" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h2>W12</h2>
<p>小組直播影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/sm5dSwAz2Z4" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h2>W13</h2>
<p>參考影片 :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/MwHHErfX9hI" title="YouTube video player" width="560"></iframe></p>
<p>CoppliaSim :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/hNAL1ZI2fU4" title="YouTube video player" width="560"></iframe></p>
<h2>w16</h2>
<p>fossil : <a href="https://fossil.kmol.info/u/40823205/dir?ci=tip">https://fossil.kmol.info/u/40823205/dir?ci=tip</a></p>
<p>網站 : <a href="https://fossil.kmol.info/u/40823205/doc/trunk/content/index.html">https://fossil.kmol.info/u/40823205/doc/trunk/content/index.html</a></p>
<p>方法 : </p>
<p>利用老師email寄的網址進去辦帳號</p>
<p>做以下步驟</p>
<p><img alt="" height="254" src="/images/1623419507017.jpg" width="672"/></p>
<p><img alt="" height="185" src="/images/1623419553945.jpg" width="608"/></p>
<p>然後把原本cd2021的資料全部複製進來 40823205資料夾</p>
<p>fossil add .</p>
<p>fossil commit -m "__"</p>
<p>輸入a</p>
<p></p>
<h1>W5</h1>
<p></p>
<p>小組上台報告影片 :</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/vmbTSR2GqtE" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p></p>
<p>上台報告影片時間表 :</p>
<p><iframe height="500" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSnCZ-O6FcYSv1olDonEaqIJJ7RQ5Z2OcUJ1TcPbEEQmKZ7yTOk-0De6IKJhLmhjHfd_9-ZWgI-q9Z0/pubhtml?gid=0&amp;single=true" width="450"></iframe></p>